{% extends 'users/layout.html' %}

{% block title %}Edit{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}
<div class="container">
    <h1 class="mt-3">Edit</h1>
    <p class="text-muted mb-5">User: {{teacher.fname}} {{teacher.lname}}</p>
    {% if error_msg %}
        <p>{{error_msg}}</p>

    {% else %}
        <form action="{% url 'teachers:process_edit' teacher.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>First Name:</label>
                <p>{{form.fname}}</p>
        
                <label>Last Name:</label>
                <p>{{form.lname}}</p>
        
                <label>Email:</label>
                <p>{{form.email}}</p>

                <a class="btn btn-danger mt-4" href="{% url 'teachers:details' teacher.id %}" role="button">Back</a>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
            <div class="col">
        
                <label>Birth Date:</label>
                <p><input type="date" name="birthdate" id="id_birthdate" required></p>
        
                <label>Display Image:</label>
                <p>{{form.image}}</p>
            </div>
            
        </div>
    </form>
    {% endif %}

    
</div>
{% endblock %}