{% extends 'users/layout.html' %}

{% block title %}Add Student{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}
<div class="container">
    <h1 class="mt-3 mb-5">Register a Student</h1>
    {% if error_msg %}
        <p>{{error_msg}}</p>
    {% endif %}
    <form action="{% url 'students:process_add' %}" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>First Name:</label>
                <p>{{form.fname}}</p>
        
                <label>Last Name:</label>
                <p>{{form.lname}}</p>
        
                <label>Email:</label>
                <p>{{form.email}}</p>
        
                <label>Program:</label>
                <p>{{form.student_program}}</p>

                <a class="btn btn-danger mt-4" href="{% url 'students:index' %}" role="button">Back</a>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
            <div class="col">
                <label>Year Level:</label>
                <p>{{form.yearlevel}}</p>
        
                <label>Birth Date:</label>
                <p><input type="date" name="birth_date" id="id_birth_date" required></p>
        
                <label>Display Image:</label>
                <p>{{form.user_image}}</p>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}