{% extends 'users/layout.html' %}

{% block title %}Students{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}

<div class="container mt-5">
    <!-- Searchbar -->
    <form action="{% url 'students:search' %}" method='GET' class="mb-4 mt-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search name" name="search" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-success">Search</button>
            <a href="{% url 'students:add' %}" class="btn btn-primary" role="button">Add Student</a>
          </div>
        </div>
    </form>
    <!-- 1st year students -->
    <div class="row">
        <h1>
          AITES 1st year Students
        </h1>
        {% if students %}
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Program</th>
                  <th>Email</th>
                  <th class="text-center">Profile Image</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                    <td>
                      <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                        {{student.fname}}
                      </a>
                    </td>
                    <td>{{student.lname}}</td>
                    <td>{{student.student_program.program}}</td>
                    <td>{{student.email}}</td>
                    <td class="text-center">
                        <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                        <img src="/media/{{student.user_image}}" alt="userimage" width="50" class="rounded-circle">
                        </a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul class="pagination">
                {% if students.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link">&laquo;  First</a></li>
                    <li class="page-item"><a href="?page={{ students.previous_page_number }}" class="page-link"> previous</a></li>
                {% endif %}

                {% if students.has_next %}
                    <li class="page-item"><a href="?page={{students.next_page_number}}" class="page-link">  next</a></li>
                    <li class="page-item"><a href="students.paginator.num_pages" class="page-link">&raquo; last</a></li>
                {% endif %}
            </ul>
          </div>
    </div>
    {% else %}
    <p>No record.</p>
    {% endif %}
    <!-- 2nd Year Students -->
    <div class="row">
        <h1>AITES 2nd Year Students</h1>
        {% if studentsii %}
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>

                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Program</th>
                  <th>Email</th>
                  <th class="text-center">Profile Image</th>
                </tr>
              </thead>
              <tbody>
                {% for student in studentsii %}
                <tr>
                  <td>
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      {{student.fname}}
                    </a>
                  </td>
                  <td>{{student.lname}}</td>
                  <td>{{student.student_program.program}}</td>
                  <td>{{student.email}}</td>
                  <td class="text-center">
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      <img src="/media/{{student.user_image}}" alt="userimage" width="50" class="rounded-circle">
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul class="pagination">
                {% if studentsii.has_previous %}
                    <li class="page-item"><a href="?pageii=1" class="page-link">&laquo;  First</a></li>
                    <li class="page-item"><a href="?pageii={{ studentsii.previous_page_number }}" class="page-link"> previous</a></li>
                {% endif %}

                {% if studentsii.has_next %}
                    <li class="page-item"><a href="?pageii={{studentsii.next_page_number}}" class="page-link">  next</a></li>
                    <li class="page-item"><a href="studentsii.paginator.num_pages" class="page-link">&raquo; last</a></li>
                {% endif %}
            </ul>
          </div>
    </div>
    {% else %}
    <p>No record.</p>
    {% endif %}
    <!-- 3rd Year Students -->
    <div class="row">
        <h1>AITES 3rd Year Students</h1>
        {% if studentsiii %}
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Program</th>
                  <th>Email</th>
                  <th class="text-center">Profile Image</th>
                </tr>
              </thead>
              <tbody>
                {% for student in studentsiii %}
                <tr>
                  <td>
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      {{student.fname}}</td>
                    </a>
                  <td>{{student.lname}}</td>
                  <td>{{student.student_program.program}}</td>
                  <td>{{student.email}}</td>
                  <td class="text-center">
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      <img src="/media/{{student.user_image}}" alt="userimage" width="50" class="rounded-circle">
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul class="pagination">
                {% if studentsiii.has_previous %}
                    <li class="page-item"><a href="?pageiii=1" class="page-link">&laquo;  First</a></li>
                    <li class="page-item"><a href="?pageiii={{ studentsiii.previous_page_number }}" class="page-link"> previous</a></li>
                {% endif %}

                {% if studentsiii.has_next %}
                    <li class="page-item"><a href="?pageiii={{studentsiii.next_page_number}}" class="page-link">  next</a></li>
                    <li class="page-item"><a href="studentsiii.paginator.num_pages" class="page-link">&raquo; last</a></li>
                {% endif %}
            </ul>
          </div>
          {% else %}
          <p>No record.</p>
          {% endif %}
      </div>
      <!-- 4th Year Students -->
      <div class="row">
        <h1>AITES 4th Year Students</h1>
        {% if studentsiv %}
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Program</th>
                  <th>Email</th>
                  <th class="text-center">Profile Image</th>
                </tr>
              </thead>
              <tbody>
                {% for student in studentsiv %}
                <tr>
                  <td>
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      {{student.fname}}</td>
                    </a>
                  <td>{{student.lname}}</td>
                  <td>{{student.student_program.program}}</td>
                  <td>{{student.email}}</td>
                  <td class="text-center">
                    <a class="text-decoration-none" href="{% url 'students:details' student.id %}">
                      <img src="/media/{{student.user_image}}" alt="userimage" width="50" class="rounded-circle">
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <ul class="pagination">
                {% if studentsiv.has_previous %}
                    <li class="page-item"><a href="?pageiv=1" class="page-link">&laquo;  First</a></li>
                    <li class="page-item"><a href="?pageiv={{ studentsiv.previous_page_number }}" class="page-link"> previous</a></li>
                {% endif %}

                {% if studentsiv.has_next %}
                    <li class="page-item"><a href="?pageiv={{studentsiv.next_page_number}}" class="page-link">  next</a></li>
                    <li class="page-item"><a href="studentsiv.paginator.num_pages" class="page-link">&raquo; last</a></li>
                {% endif %}
            </ul>
          </div>
          {% else %}
          <p>No record.</p>
          {% endif %}
      </div>
</div>
{% endblock %}
